.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
  padding-bottom: 5px;
}
.nav__list,
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 40px;
}

.nav__items {
  row-gap: 1.5rem;
}
.nav__link {
  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: #8e75f6;
}

.nav__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #d1d5db;
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.nav2__icon {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__dropdown {
  overflow: hidden;
  max-height: 28px;
  transition: 0.4s ease-in-out;
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: 0.4s;
}

.nav__dropdown_expand .nav__dropdown-icon {
  transform: rotate(180deg);
}
.nav__dropdown_expand {
  max-height: 100rem;
}
.nav__dropdown-content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
}
.nav__logout {
  margin-top: 5rem;
  margin-bottom: 10px;
  margin-top: 60px;
}
