/* .rbc-day-bg:hover,
.rbc-timeslot-group:hover {
    background-color: #e5e7eb;
} */

/* .rbc-event-label {
    display: none;
} */

/* 
.rbc-today {
    background-color: ;
    border-radius: 6px;
    border: 2px solid #1c64f280 !important;
} */

.rbc-month-view .rbc-event,
.rbc-overlay .rbc-event,
.rbc-month-view .rbc-event.rbc-selected {
    background-color: transparent;
    /* padding: 0;
    margin-bottom: 1px; */
}