:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(to right,
      #4cd964,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast-container {
  top: 140px;
}

.Toastify__toast {
  border-radius: 15px;
  min-height: 80px;
}

.app-background {
  background-color: rgb(248, 250, 252);
  background-image: radial-gradient(at 100% 15%, rgb(229, 231, 235) 0, transparent 27%), radial-gradient(at 81% 9%, rgb(243, 232, 255) 0, transparent 74%), radial-gradient(at 14% 54%, rgb(237, 233, 254) 0, transparent 67%), radial-gradient(at 54% 4%, rgb(243, 232, 255) 0, transparent 67%), radial-gradient(at 20% 17%, rgb(34, 211, 238) 0, transparent 51%);

}

.app-background .dark {
  background-color: rgb(99, 102, 241);
  background-image: radial-gradient(at 99% 30%, rgb(6, 182, 212) 0, transparent 65%), radial-gradient(at 87% 26%, rgb(15, 23, 42) 0, transparent 71%), radial-gradient(at 21% 33%, rgb(20, 83, 45) 0, transparent 99%), radial-gradient(at 55% 82%, rgb(23, 23, 23) 0, transparent 86%), radial-gradient(at 96% 88%, rgb(87, 83, 78) 0, transparent 28%);

}

/* CUSTOM REACT-DATEPICKER */
.react-datepicker {
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #333;
  border: none;
  color: #25396f;
  background-color: #f5f5f5;
}

.react-datepicker__header,
.react-datepicker__triangle {
  background-color: #f5f5f5;
  border: none;
}

.react-datepicker__month-container {
  background-color: #f5f5f5;
  border-radius: 8px;

}

.react-datepicker__day--outside-month {
  color: #d0d3dc !important;
  background-color: transparent !important;
}

.react-datepicker__day,
.react-datepicker__day--keyboard-selected {
  border-radius: 4px;
  background-color: white;
  color: #25396f;
}

.react-datepicker__day-name {
  width: 2rem;
  color: #25396f;
  font-weight: bolder;
}

.react-datepicker__day--selected {
  background-color: #1c64f2;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #1c64f226;
}

.react-datepicker__day--today {
  color: #000;
  font-weight: bold;
  background-color: #fde047 !important;
}

.react-datepicker-time__input input {
  border: none;
  border-radius: 6px;
  background-color: white;
}

.react-datepicker__input-time-container {
  display: flex;
  justify-content: center;
  margin: 0 !important;
  padding: 5px 10px 15px;
}

.react-datepicker-time__caption {
  display: none !important;
}

.react-datepicker__close-icon {
  margin-right: 5px;

}

.react-datepicker__close-icon::after {
  background-color: #777;
}