@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

p:empty::before {
	content: "";
	display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

/* .no-scrollbar::-webkit-scrollbar { */
/* display: none;
} */

/* .no-scrollbar {
	-ms-overflow-style: none; 
	scrollbar-width: none; 
} */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: #94A3B8;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: #f9fafb;
}

.resizer {
	display: inline-block;
	/* background: blue; */
	width: 10px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(50%);
	z-index: 1;
	touch-action: none;
}

table td:first-child,
th:first-child {
	position: sticky !important;
	left: 0;
}

.react-datepicker-popper {
	z-index: 9999 !important;
}

.scroller::-webkit-scrollbar-thumb:horizontal:hover,
.scroller::-webkit-scrollbar-thumb:vertical:hover {
	/* hover thumb styles */
}

.scroller::-webkit-scrollbar-thumb:horizontal:active,
.scroller::-webkit-scrollbar-thumb:vertical:active {
	/* active thumb styles */
}